h1 {
  color: lightblue;
  text-shadow: 2px 2px 8px #FF0000;
}

p {
  height: 200px;
  width: 200px;
  border: solid black 1px;
  border-radius: 50%;
  background-color: lightblue;
  text-align: center;
  transition:all 2.0s ease;
}

.rotate:hover
  {
          -webkit-transform: rotateZ(-360deg);
          -ms-transform: rotateZ(-360deg);
          transform: rotateZ(-360deg);
  }
